# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

source /etc/network/interfaces.d/*

# The loopback network interface
auto lo
iface lo inet loopback

# network interface
auto $WAN
allow-hotplug $WAN
iface $WAN inet dhcp

# network interface
auto $LAN
allow-hotplug $LAN
iface $LAN inet static
    address 10.0.0.1
    network 10.0.0.0
    netmask 255.255.255.0
    broadcast 10.0.0.255
